<div class="row">
  <div class="span12">
    <div id="logo-header">
      <h1>moobook</h1>
      <h2>A SOCIAL NETWORK FOR COWS</h2>
      <a href="/profile" class="btn btn-primary">Your Profile</a>
    </div>
  </div>
</div>
<div id="taurus-caption">
  <h6>Introduction</h6>
  Well hello there! So you may be wondering what this actually is. No, it's not <em>actually</em> a social network for cows. This is a mock demonstration of how a web application can really benefit from using <a href="https://taurus.io">Taurus</a>. Throughout the demonstration, I'll be chiming in with some additional details down here.
</div>
