<div class="row">
  <div class="span12">
    <div id="logo-header">
      <h1>moobook</h1>
      <h2>A SOCIAL NETWORK FOR COWS</h2>
      <a href="/profile" class="btn btn-primary">Your Profile</a>
    </div>
  </div>
</div>
