<div class="row">
  <div class="span3">
    <img src="/assets/cow.png" class="profile-pic" />
    <p><a href="javascript:void(0)">View More Photos (0)</a></p>
    <p><a href="javascript:void(0)">Edit My Profile</a></p>
  </div>
  <div class="span7">
    <h3>Betsy Dairy</h3>
    <div class="row">
      <div class="span9">
        <div class="status-update">
          <strong><a href="javascript:void(0)" class="status-update">POST STATUS UPDATE</a></strong><br />
          <div class="form-inline">
            <input type="text" value="" />
            <a href="javascript:void(0)" class="btn btn-primary">Post</a>
          </div>
        </div>
      </div>
      <div class="span1">
        <img src="/assets/cow-betsy-small.png" />
      </div>
      <div class="span6">
        <h4><a href="javascript:void(0)">Betsy Dairy</a></h4>
        <p>OMG! I just signed up for Moobook. This is the coolest thing ever!</p>
        <p class="time"><small>less than a minute ago</small></p>
        <div class="post-actions">
          <a href="javascript:void(0)">Moo</a> &middot; <a href="javascript:void(0)">Comment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="taurus-caption">
</div>
