<div class="row">
  <div class="span8 offset2">
    <h3>Edit Your Profile</h3>
    <p>You can edit your profile settings here. Entering your real name will make it much easier for your cow friends can find you.</p>
    <br />
    <h4>Your Name</h4>
    <input type="text" value="Betsy Dairy" />

    <br /><br />
    <h4>Your Email</h4>
    <input type="text" value="betsy@farmersams.com" />

    <br /><br />

    <h4>Your Location</h4>
    <input type="text" value="Farmer Sam's Pasture" />

    <br /><br />
    <h4>Current Job</h4>
    <a href="javascript:void(0)">Barista</a> at <a href="javascript:void(0)">Moobucks</a>


    <br /><br />
    <h4>Your Photo</h4>
    <p>
      <img src="/assets/cow.png" /><br />
    </p>

    <br />
    <br /><a href="/profile/5" class="btn btn-primary">Save Changes</a>
  </div>
</div>
<div id="taurus-caption">
  <h6>Smart Tooltips</h6>
  Taurus tooltips can travel between different pages or within the same page. Our tooltips automatically detect where the next tooltip is and perform the correct action.
</div>
