<div class="row">
  <div class="span12 cover-photo-container">
    <h3>Betsy Dairy</h3>
    <img src="/assets/cow-betsy-new.png" class="profile-pic-new" />
    <img src="/assets/cover-photo.png" class="cover-photo" />
    <div class="edit-profile"><a href="/profile/6">Edit Profile</a></div>
  </div>
  <div class="span12">
    <div class="cover-photo-meta">
      <p>Barista at <a href="javascript:void(0)">Moobucks</a></p>
      <p>In a relationship with <a href="javascript:void(0)">Mark Matadorslayer</a></p>
      <p>Lives in <a href="javascript:void(0)">Farmer Sam's Pasture</a></p>
    </div>
  </div>
  <div class="span6">
    <div class="row">
      <div class="span6">
        <div class="status-update">
          <strong><a href="javascript:void(0)" class="status-update">POST STATUS UPDATE</a></strong><br />
          <div class="form-inline">
            <input type="text" value="" />
            <a href="javascript:void(0)" class="btn btn-primary">Post</a>
          </div>
        </div>
      </div>
      <div class="span1">
        <img src="/assets/cow-betsy-small.png" />
      </div>
      <div class="span5">
        <h4><a href="javascript:void(0)">Betsy Dairy</a></h4>
        <p>I can't believe they changed Moobook AGAIN. Won't they ever learn that the original is always the best!?</p>
        <p class="time"><small>15 minutes ago</small></p>
        <div class="post-actions">
          <a href="javascript:void(0)">Moo</a> &middot; <a href="javascript:void(0)">Comment</a>
        </div>
        <div class="row">
          <div class="post-comment">
            <div class="span1">
              <img src="/assets/cow2.png" />
            </div>
            <div class="span4">
              <h5><a href="javascript:void(0)">Chad "Low-Fat" Sirloin</a></h5>
              <p>It's actually not that hard to get used to thanks to the tooltips provided by Taurus.</p>
              <p class="time"><small>9 minutes ago &middot; <a href="javascript:void(0)">Moo</a> &middot; 7 cows mooed this</small></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="post-comment">
            <div class="span1">
              <img src="/assets/cow-betsy-small.png" />
            </div>
            <div class="span4">
              <h5><a href="javascript:void(0)">Betsy Dairy</a></h5>
              <p>Yeah I guess you're right, that was pretty easy! Thanks!</p>
              <p class="time"><small>7 minutes ago &middot; <a href="javascript:void(0)">Moo</a></small></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="post-comment">
            <div class="span1">
              <img src="/assets/cow2.png" />
            </div>
            <div class="span4">
              <h5><a href="javascript:void(0)">Chad "Low-Fat" Sirloin</a></h5>
              <p>No prob. Wanna get some hay bales by Farmer Joe's?</p>
              <p class="time"><small>2 minutes ago &middot; <a href="javascript:void(0)">Moo</a></small></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="post-comment">
            <div class="span1">
              <img src="/assets/cow-betsy-small.png" />
            </div>
            <div class="span4">
              <h5><a href="javascript:void(0)">Betsy Dairy</a></h5>
              <p>Sure! I heard they're having a big sale too!</p>
              <p class="time"><small>2 minutes ago &middot; <a href="javascript:void(0)">Moo</a></small></p>
            </div>
          </div>
          <div class="post-comment">
            <div class="span1">
              <img src="/assets/cow2.png" />
            </div>
            <div class="span4">
              <h5><a href="javascript:void(0)">Herbert Cheese</a></h5>
              <p>:(</p>
              <p class="time"><small>just now &middot; <a href="javascript:void(0)">Moo</a></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="row">
      <div class="span1">
        <img src="/assets/cow2.png" />
      </div>
      <div class="span5">
        <h4><a href="javascript:void(0)">Herbert Cheese</a></h4>
        <p>Hey Betsy, it was sure nice meeting you at the hoedown yesterday. How about say we go out and get us some hay bales some time?</p>
        <p class="time"><small>posted about 3 days ago</small></p>
        <div class="post-actions">
          <a href="javascript:void(0)">Moo</a> &middot; <a href="javascript:void(0)">Comment</a>
        </div>
        <div class="row">
          <div class="post-comment">
            <div class="span1">
              <img src="/assets/cow-betsy-small.png" />
            </div>
            <div class="span4">
              <h5><a href="javascript:void(0)">Betsy Dairy</a></h5>
              <p>Oh hey Herbert, I'm a little busy this week. Maybe next week?</p>
              <p class="time"><small>about 3 days ago &middot; <a href="javascript:void(0)">Moo</a></small></p>
            </div>
          </div>
          <div class="post-comment">
            <div class="span1">
              <img src="/assets/cow2.png" />
            </div>
            <div class="span4">
              <h5><a href="javascript:void(0)">Herbert Cheese</a></h5>
              <p>Sure thing Betsy! I'm free all week! When do you wanna hang out?</p>
              <p class="time"><small>about 3 days ago &middot; <a href="javascript:void(0)">Moo</a></small></p>
            </div>
          </div>
          <div class="post-comment">
            <div class="span1">
              <img src="/assets/cow2.png" />
            </div>
            <div class="span4">
              <h5><a href="javascript:void(0)">Herbert Cheese</a></h5>
              <p>Hello Betsy? Do you still want to get hay bales?</p>
              <p class="time"><small>3 hours ago &middot; <a href="javascript:void(0)">Moo</a></small></p>
            </div>
          </div>
          <div class="post-comment">
            <div class="span1">
              <img src="/assets/cow2.png" />
            </div>
            <div class="span4">
              <h5><a href="javascript:void(0)">Herbert Cheese</a></h5>
              <p>There's a really great deal on hay bales just by Farmer Joe's barn. Let's go now!!</p>
              <p class="time"><small>47 minutes ago &middot; <a href="javascript:void(0)">Moo</a></small></p>
            </div>
          </div>
          <div class="post-comment">
            <div class="span1">
              <img src="/assets/cow-chad-small.png" />
            </div>
            <div class="span4">
              <h5><a href="javascript:void(0)">Chad "Low-Fat" Sirloin</a></h5>
              <p>Dude...</p>
              <p class="time"><small>42 minutes ago &middot; <a href="javascript:void(0)">Moo</a> &middot; 34 cows mooed this</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="span6 spacer"></div>
      <div class="span1">
        <img src="/assets/cow-betsy-small.png" />
      </div>
      <div class="span5">
        <h4><a href="javascript:void(0)">Betsy Dairy</a></h4>
        <p>OMG! I just signed up for Moobook. This is the coolest thing ever!</p>
        <p class="time"><small>5 days ago</small></p>
        <div class="post-actions">
          <a href="javascript:void(0)">Moo</a> &middot; <a href="javascript:void(0)">Comment</a>
        </div>
        <div class="row">
          <div class="post-comment">
            <div class="span1">
              <img src="/assets/cow2.png" />
            </div>
            <div class="span4">
              <h5><a href="javascript:void(0)">Herbert Cheese</a></h5>
              <p>Yeah it is! You're so funny!</p>
              <p class="time"><small>2 days ago &middot; <a href="javascript:void(0)">Moo</a></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="taurus-caption">
  <h6>Maintenance Made Easy</h6>
  Click here to launch the <a href="javascript:void((function()%7Bvar%20e%3Ddocument.createElement(%27script%27)%3Be.type%3D%27text/javascript%27%3Be.src%3D%27https://taurusio-demo.herokuapp.com/admin.js%27%3Bdocument.getElementsByTagName(%27head%27)%5B0%5D.appendChild(e)%3B%7D)())%3B">Taurus Admin</a> and login with email: <strong>demo</strong>, password: <strong>demo</strong>
  <br /><br />After you log into the Taurus Admin panel, you'll notice that the tooltips are now pointing at the wrong things. But with our admin tool, it's now trivial to modify, move, rearrange, or add new tooltips.
</div>
