<div class="row">
  <div class="span3 border-right">
    <img src="/assets/no-main-pic.png" class="profile-pic" />
    <p><a href="javascript:void(0)">View More Photos (0)</a></p>
    <p><a href="/profile/2">Edit My Profile</a></p>
  </div>
  <div class="span9">
    <h3>Welcome to Moobook!</h3>
    <div class="row">
      <div class="span9">
        <div class="status-update">
          <strong><a href="javascript:void(0)" class="status-update">POST STATUS UPDATE</a></strong><br />
          <div class="form-inline">
            <input type="text" value="" />
            <a href="/profile/4" class="btn btn-primary">Post</a>
          </div>
        </div>
      </div>
      <div class="span9">
        <p class="time"><small>Nobody has written on your wall yet.</small</p>
      </div>
    </div>
  </div>
</div>
